//Переменные!
$color1: #1B3764;;
$color2: #FFCA42;
$color3: #F5F5F5;
$color-text1: #B4C7E7;
$color-text2:  #151515;

//Шрифты!
$headers-fonts: 'Cardo', serif;
$text-fonts: 'Inter', sans-serif;

$font-weight: 400;

$container-width: 80%;
$margit-center: 0 auto;
